<div class="listings-index">
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <div class="listings-form">
          <%= react_component('ListingsForm') %>
        </div>
        <div class="listings-list">
          <%= react_component('ListingsList') %>
        </div>
      </div>
    </div>
  </div>
</div>
