.headline {
  text-transform: uppercase;
  color: $font-dark;
  letter-spacing: 4px;
}

.headline--sub {
  color: $white;
}

.headline--white {
  color: $white;
}

.headline--thin {
  font-weight: 400;
}

.headline--regular {
  font-weight: 500;
}

.headline--bold {
  font-weight: 700;
}

.headline--outlined {
  text-shadow: $base-text-shadow;
}

.headline--heavy-outlined {
  text-shadow: $heavy-text-shadow;
}

.headline--no-spacing {
  letter-spacing: 0;
}

.headline--no-transform {
  text-transform: none;
}
