.hero {
  margin-top: 2em;
  overflow: hidden;
  background-size: cover;
  position: relative;
  background-color: $bg-dark;
}

.hero__content {
  margin: 8em 0;
  position: relative;
}

.hero__content--left {
  @include span-columns(9);
  @include omega;

  @media screen and (max-width: $medium) {
    @include shift(0);
    @include fill-parent;

    text-align: center;
  }
}

.hero__content--right {
  @include span-columns(6);
  @include shift(6);
  @include omega;

  @media screen and (max-width: $medium) {
    @include shift(0);
    @include fill-parent;

    text-align: center;
  }
}
