.hero-container {
  @include outer-container;

  margin-top: 2em;
  padding: 0 1em;

  .hero-image {
    @media screen and (max-width: $small) {
      display: none;
    }
  }

  .hero-image {
    img {
      width: 100%;
      max-height: 200px;
    }
  }

  .hero-title {
    border-bottom: 2px solid $blue;
  }

  h2 {
    display: inline-block;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  h3 {
    display: inline-block;
    font-style: italic;
    font-weight: $font-weight-light;
  }
}