<div class="static-about">
  <div class="hero" style="background-image: url(<%= image_path('banners/about.jpg') %>);">
    <div class="container">
      <div class="center hero__content hero__content--right">
        <h1 class="headline headline--white headline--heavy-outlined">Shelley King</h1>
        <h5 class="headline headline--white headline--outlined">
          a little about me
        </h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="container">
        <div class="columns-8 fill-small">
          <p>
            Originally born in New Brunswick, my family later moved to Vancouver
            Island to root itself in this beautiful province and become a part
            of the community.
          </p>
          <p>
            Early in my life, I had a passion for real estate and was well on my
            way to becoming a realtor. I took my Real Estate Trading license the
            first time at 19 years of age. I realized very quickly though, this was
            an all or nothing game; no half measures. I decided to put it on hold
            until after I had raised my family.
          </p>
          <p>
            Early in my career, I was an employee of Overwaitea / Save on Foods for 25yrs,
            getting to know members of the community and becoming part of it myself.
            Here, I worked in the office doing bank deposits, reconciling tills, attending accounts receivable, etc.
            I later moved on to Dogwood Dental for 8yrs. I was hired to run the hygiene program for two doctors.
          </p>
          <p>
            At both of these jobs along my career path, I had always strived for
            excellance. My hard work, and dedication paid off, as I was continually
            given more and more responsibility, while being promoted swiftly upwards.
          </p>
          <p>
            After having a great career, I have finally come back to my one true passion,
            real estate.
          </p>
          <p>
            Real estate has been a long term passion for me. Having grown up in Campbell
            River, I know the area well and look forward to sharing my knowledge with you.
            I love the island life and everything it has to offer. Let me help you find your piece
            of this paradise called Campbell River.
          </p>
        </div>

        <div class="columns-4 omega fill-small center">
          <%= image_tag('shelley.jpg', class: 'image--contained') %>
          <h5 class="headline">Shelley King</h5>
          <p>Real Estate Sales & Leasing</p>
          <p>2015 Licensed realtor</p>
        </div>
      </div>
    </div>

    <div class="content center">
      <h3>Interested in talking?</h3>
      <div>
        <%= link_to 'Get in touch!', contact_static_path, class: 'button' %>
      </div>
    </div>
  </div>
</div>
