<div class="static-about">
  <div class="hero-container">
    <div class="hero-image">
      <%= image_tag('banners/about.jpg') %>
    </div>
    <div class="hero-title">
      <h2>Shelley King</h2>
      <h3> - a little about me</h3>
    </div>
  </div>

  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <div class="bio-container">
          <p>
            Originally born in New Brunswick, my family quickly moved to Vancouver
            Island to root itself in this beautiful province and become a part
            of the community.
          </p>
          <p>
            Early in my life, I had a passion for real estate and was well on my
            way to becoming a realtor, however sometimes life throws you a curveball.
            When I learned I was expecting a 2nd daughter, I put my real estate dreams
            on hold to focus more on my growing family.
          </p>
          <p>
            Early in my career, I was an employee of Save on Foods for almost 30 years,
            getting to know members of the community and becoming part of it myself.
            I later moved on to Dogwood Dental as an administrative assistant where I spent
            5 great years.
          </p>
          <p>
            After having a great career, I have finally come back to my one true passion,
            real estate.
          </p>
          <p>
            Real estate has been a long term passion for me. Having grown up in Campbell
            River, I know the area well and look forward to sharing my knowledge with you.
            I love the island life and everything it has to offer. Let me help you find your piece
            of this paradise called Campbell River.
          </p>
        </div>
        <div class="meta-container">
          <%= image_tag('shelley.jpg') %>
          <h5>Shelley King<h5>
          <p>Real Estate Sales & Leasing</p>
          <p>2015 Licensed realtor</p>
        </div>
      </div>
    </div>

    <div class="content-block center">
      <div class="content-block-inner">
        <h3>Interested in talking?</h3>
        <div>
          <a class="button" href="/contact">Get in touch!</a>
        </div>
      </div>
    </div>
  </div>
</div>
