<div class="static-about">
  <div class="hero-container">
    <div class="hero-image">
      <%= image_tag('banners/about.jpg') %>
    </div>
    <div class="hero-title">
      <h2>Shelley King</h2>
      <h3> - a little about me</h3>
    </div>
  </div>

  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <div class="bio-container">
          <p>
            Real estate has been a long term passion for me. Having grown up in Campbell
            River, I know the area well and look forward to sharing my knowledge with you.
            I love the island life and everything it has to offer. Let me help you find your piece
            of this paradise called Campbell River.
          </p>
        </div>
        <div class="meta-container">
          <%= image_tag('shelley.jpg') %>
          <h5>Shelley King<h5>
          <p>Real Estate Sales & Leasing</p>
          <p>2015 Licensed realtor</p>
        </div>
      </div>
    </div>
    <div class="content-block center">
      <div class="content-block-inner">
        <h3>Interested in talking?</h3>
        <div>
          <a class="button" href="/contact">Get in touch!</a>
        </div>
      </div>
    </div>
  </div>
</div>
