<div class="static-contact">
  <div class="hero-container">
    <div class="hero-image">
      <%= image_tag('banners/boats.jpg') %>
    </div>
    <div class="hero-title">
      <h2>Contact</h2>
      <h3> - get in touch</h3>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <div class="left-info">
          <h4>Contact Info</h4>
          <p>Cell Phone: 250-555-5555</p>
          <p>Office Phone: 250-555-5555</p>
          <p>Email: realty.chick@houses.ca</p>
          <p>Fax: 250-555-5555</p>
        </div>
        <div class="right-info">
        <h4>Mailing Address</h4>
          <p>Royal Lepage</p>
          <p>P.O. Box 188</p>
          <p>Campbell River, BC</p>
          <p>V9W 5A9</p>
        </div>
      </div>
    </div>
    <div class="content-block center">
      <div class="content-block-inner">
        <h3>Looking to move?</h3>
        <div>
          <a class="button" href="/">Show me the listings</a>
        </div>
      </div>
    </div>
  </div>
</div>
