<div class="static-contact">
  <div class="hero" style="background-image: url(<%= image_path('banners/contact.jpg') %>);">
    <div class="container">
      <div class="center hero__content hero__content--right">
        <h1 class="headline headline--white headline--heavy-outlined">Contact</h1>
        <h5 class="headline headline--white headline--outlined">
          get in touch
        </h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="container">
        <div class="columns-6 fill-small">
          <h4 class="headline">Contact Info</h4>
          <p>Cell Phone: 250-203-0096</p>
          <p>Office Phone: 250-286-3294</p>
          <p>Email: shelleyking@royallepage.ca</p>
          <p>Fax: 250-286-1932</p>
        </div>
        <div class="columns-6 omega fill-small">
          <h4 class="headline">Mailing Address</h4>
          <p>Royal Lepage</p>
          <p>972 Shoppers Row</p>
          <p>Campbell River, BC</p>
          <p>V9W 2C5</p>
        </div>
      </div>
    </div>

    <div class="content center">
      <h3>Looking to move?</h3>
      <div>
        <a class="button" href="http://www.royallepage.ca/en/bc/campbell-river/properties" target="_blank">Show me the listings</a>
      </div>
    </div>
  </div>
</div>
