<div class="static-evaluation">
  <div class="hero-container">
    <div class="hero-image">
      <%= image_tag('banners/evaluation.jpg') %>
    </div>
    <div class="hero-title">
      <h2>Evaluation</h2>
      <h3> - evaluating your home</h3>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <p>
          Through the Comparative Market Analysis, I can evaluate the prices
          of properties similar to yours that have recently sold in your area.
          This analysis will give you a better idea of your property's market
          value, one of the first - and essential! - steps as you prepare to sell your home.
        </p>
      </div>
    </div>
  </div>
</div>
