<div class="static-evaluation">
  <div class="hero" style="background-image: url(<%= image_path('banners/evaluation.jpg') %>);">
    <div class="container">
      <div class="center hero__content hero__content--right">
        <h1 class="headline headline--white headline--heavy-outlined">Evaluation</h1>
        <h5 class="headline headline--white headline--outlined">
          evaluating your home
        </h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <p>
        Through my deep understanding of the local market, I can preform
        comparative market analysis based on your given unique situation in
        order to help you evaluate your current home.
      </p>
      <p>
        My analysis will give you a better understanding of your property's market
        value, of the the first, and perhaps the most essential step as you
        prepare to sell your home.
      </p>
    </div>

    <div class="content center">
      <h3>Interested in selling your home?</h3>
      <div>
        <%= link_to 'Get in touch!', contact_static_path, class: 'button' %>
      </div>
    </div>
  </div>
</div>
