<div class="static-evaluation">
  <div class="hero-container">
    <div class="hero-image">
      <%= image_tag('banners/evaluation.jpg') %>
    </div>
    <div class="hero-title">
      <h2>Evaluation</h2>
      <h3> - evaluating your home</h3>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <p>
          Through my deep understanding of the local market, I can preform
          comparative market analysis based on your given unique situation in
          order to help you evaluate your current home.
        </p>
        <p>
          My analysis will give you a better understanding of your property's market
          value, of the the first, and perhaps the most essential step as you
          prepare to sell your home.
        </p>
      </div>
    </div>

    <div class="content-block center">
      <div class="content-block-inner">
        <h3>Interested in selling your home?</h3>
        <div>
          <a class="button" href="/contact">Get in touch!</a>
        </div>
      </div>
    </div>
  </div>
</div>
