<div class="static-marketing">
  <div class="hero-container">
    <div class="hero-image">
      <%= image_tag('banners/boats.jpg') %>
    </div>
    <div class="hero-title">
      <h2>Marketing</h2>
      <h3> - marketing your home</h3>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum
          posuere lectus, eu congue metus sodales in. Ut imperdiet ultricies
          sapien, eget vulputate nunc porta ac. In hac habitasse platea dictumst.
          Curabitur hendrerit ultricies pellentesque. Etiam pellentesque mattis
          erat. Nulla et justo venenatis, venenatis sem et, luctus enim. Mauris
          ac tellus ut tortor eleifend condimentum vel vel ex. Donec tincidunt
          ultricies diam, ac mollis nulla egestas a. In lectus lacus, finibus a
          pharetra quis, semper vel risus.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum
          posuere lectus, eu congue metus sodales in. Ut imperdiet ultricies
          sapien, eget vulputate nunc porta ac. In hac habitasse platea dictumst.
          Curabitur hendrerit ultricies pellentesque. Etiam pellentesque mattis
          erat. Nulla et justo venenatis, venenatis sem et, luctus enim. Mauris
          ac tellus ut tortor eleifend condimentum vel vel ex. Donec tincidunt
          ultricies diam, ac mollis nulla egestas a. In lectus lacus, finibus a
          pharetra quis, semper vel risus.
        </p>
      </div>
    </div>
  </div>
</div>
