<div class="static-marketing">
  <div class="hero-container">
    <div class="hero-image">
      <%= image_tag('banners/marketing.jpg') %>
    </div>
    <div class="hero-title">
      <h2>Marketing</h2>
      <h3> - marketing your home</h3>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <p>
          If you are considering selling, contact Shelley for a comprehensive evaluation of
          the current value of your property. The two step process starts with an inspection
          and measuring of the home (approx. 30min.) and a second visit, usually the following
          day, to review Shelley's marketing plan and currently listed properties as well as
          sold properties, most similar to the subject, to estimate the highest possible
          asking & selling price.
        </p>

        <p>
          Many factors are inspected and considered when a value is calculated which include
          many or all of the following (in no particular order):
        </p>

        <ul>
          <li>Location</li>
          <li>Yard condition</li>
          <li>Available parking</li>
          <li>Age of building</li>
          <li>Layout or house plan</li>
          <li>Views</li>
          <li>Upgrades done or required</li>
          <li>How long did competing homes take to sell</li>
          <li>How many competing homes are currently for sale</li>
          <li>Buyers or sellers market</li>
        </ul>

        <p>
          Shelley summarizes all of these factors in an easy to understand recommended list price and probable selling range.
        </p>
      </div>
    </div>
  </div>
</div>
