<div class="static-about">
  <div class="hero" style="background-image: url(<%= image_path('banners/mortgage.jpg') %>);">
    <div class="container">
      <div class="center hero__content hero__content--right">
        <h1 class="headline headline--white headline--heavy-outlined">Mortgage Calculator</h1>
        <h5 class="headline headline--white headline--outlined">
          figure out your budget
        </h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="calculator">
        <p>
          Buying a home usually means getting obtaining a mortgage loan. You
          will find a useful mortgage calculator below that will give you the
          monthly payments that you could expect given your particular
          financing situation.
        </p>

        <%= react_component('MortgageCalculator') %>
      </div>
    </div>
  </div>
</div>
