<div class="errors-show">
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <h2>Whoops!</h2>
        <p>
          A <%= @status_code ? @status_code : nil %> error was caused by your request.
        <p>
        <p>
          Please make sure you are visiting the correct page, or try again.
        </p>
      </div>
    </div>
  </div>
</div>
