<div class="posts-index">
  <div class="hero" style="background-image: url(<%= image_path('banners/blog.jpg') %>);">
    <div class="container">
      <div class="center hero__content hero__content--right">
        <h1 class="headline headline--white headline--heavy-outlined">Blog</h1>
        <h5 class="headline headline--white headline--outlined">
          a few short stories
        </h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="container post-list-items center">
        <% if @posts && @posts.try(:length) > 0 %>
          <% @posts.each do |post| %>
            <%= render partial: 'posts/list_item', locals: { post: post } %>
          <% end %>
        <% else %>
          <p>
            I have not created any posts yet! Check back soon.
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
