<div class="posts-show">
  <div class="hero" style="background-image: url(<%= @post.hero_image.url(:medium) %>);">
    <div class="container">
      <div class="center hero__content hero__content--right">
        <h1 class="headline headline--white headline--heavy-outlined"><%= @post.title %></h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <%= render partial: 'posts/meta', locals: { post: @post } %>

      <p>
        <%= @post.body.html_safe %>
      </p>
    </div>
  </div>
</div>
