#header {
  $header-meta-height: 100px;
  $header-menu-line-height: 75px;
  $header-menu-link-padding: 0 1em;

  .meta-container {
    @include outer-container;

    padding: 0 0.5em 1em;

    .title {
      @include span-columns(8);
    }

    .logo {
      @include span-columns(4);
      @include omega;

      text-align: right;
      position: relative;
    }

    img {
      max-width: 300px;
      max-height: 65px;
      margin-top: 10px;

      @media screen and (max-width: $medium) {
        max-width: 250;
        max-height: 50px;
        margin-top: 15px;
      }

      @media screen and (max-width: $small) {
        max-width: 100%;
        max-height: 50px;
      }
    }

    h1, h3 {
      display: inline-block;
    }

    h1 {
      margin-bottom: 0;
      margin-right: 20px;
      color: $font-dark;

      @media screen and (max-width: $medium) {
        font-size: 1.75em;
      }

      @media screen and (max-width: $small) {
        font-size: 1.5em;
      }
    }

    h3 {
      color: $font-medium;

      @media screen and (max-width: $medium) {
        font-size: 1em;
      }

      @media screen and (max-width: $small) {
        font-size: 0.9em;
      }
    }
  }

  .menu-container {
    line-height: $header-menu-line-height;
    text-align: center;
    box-shadow: 0 0 8px 1px $shadow-light;

    .nav-item {
      @include transition(color .2s ease-in-out);

      display: inline-block;
      position: relative;
      padding: $header-menu-link-padding;
      font-size: 16px;
      border-left: $base-border;
      border-right: $base-border;
      border-color: transparent;
      color: $font-medium;
    }

    .nav-item:hover {
      border-color: $border-light;
      color: $red;

      > ul {
        opacity: 1;
        display: inherit;
      }
    }

    ul li:after {
      content:  ' +';
    }

    ul li:only-child:after {
      content: '';
    }

    .nav-sub-item {
      list-style: none;
      font-size: 14px;
    }

    .sub-menu {
      @include transition(opacity .2s ease-in-out);

      opacity: 0;
      display: none;
      position: absolute;
      top: 100%;
      left: -1px;
      width: 300px;
      z-index: $z-index-low;
      background-color: $bg-light;
      border: $base-border;
    }

    .nav-sub-item {
      @include transition(background-color .2s ease-in-out);

      text-align: left;
      display: list-item;
      position: relative;
      line-height: 40px;
      padding: 0 1em;
    }

    .nav-sub-item:hover {
      background-color: $bg-dark;
    }

    @media screen and (max-width: $small) {
      ul {
        line-height: 45px;
      }

      .nav-item {
        width: 100%;
      }

      .sub-menu {
        width: 100%;
      }
    }
  }
}
