// General colors
$red:   #E0645C;
$blue:  #2DB6CF;
$green: #46b98a;
$white: #FFFFFF;

// Background colors
$bg-light: #FFFFFF;
$bg-dark: #F9F9F9;

// Font weights
$font-weight-light: 300;

// Font colors
$font-dark: #181818;
$font-medium: rgba(0, 0, 0, 0.6);

// Font opacities
$font-opacity-full: rgba(255, 255, 255, 1);
$font-opacity-medium: rgba(255, 255, 255, 0.8);
$font-opacity-low: rgba(255, 255, 255, 0.4);

// Border colors
$border-light: rgba(26, 26, 26, 0.1);

// Border radius
$base-border-radius: 4px;

// Borders
$base-border: 1px solid $border-light;

// Shadows
$shadow-light: rgba(26, 26, 26, 0.2);

// Resolutions
$small: 767px;
$medium: 1023px;
$large: 1900px;

// Z-index
$z-index-negative: -1;
$z-index-low: 1;
$z-index-medium: 2;
$z-index-high: 3;
