<footer id="footer">
  <div class="links-container">
    <div class="link-column">
      <h5>Shelley King</h5>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/testimonials">Testimonials</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="link-column">
      <h5>Buying</h5>
      <ul>
        <li>
          <a href="/">My Listings</a>
        </li>
        <li>
          <a href="/">Office Listings</a>
        </li>
        <li>
          <a href="/">Campbell River Listings</a>
        </li>
      </ul>
    </div>
    <div class="link-column">
      <h5>Selling</h5>
      <ul>
        <li>
          <a href="/">Evaluation</a>
        </li>
        <li>
          <a href="/">Marketing Plan</a>
        </li>
        <li>
          <a href="/">Reports</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="legal-container">
    <p>
      &copy; 2016 Shelley King. All rights reserved.
    </p>
  </div>
  <div class="social-container">
    <ul>
      <li>
        <a href="https://www.linkedin.com/profile/view?id=AAIAAAx5PS4BELVLBaN8tNJzo-A_l0LqXN0ePn8&trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin"></i></a>
      </li>
      <li>
        <a href="mailto:jordan.ell7@gmail.com"><i class="fa fa-envelope"></i></a>
      </li>
    </ul>
  </div>
</footer>
