<header id="header">
  <div class="meta-container">
    <div class="title">
      <a href="/">
        <h1>Shelley King</h1>
      </a>
      <h3>Best realtor in town!</h3>
    </div>
    <div class="logo">
      <a href="/">
        <%= image_tag('logos/royal_lepage.jpg') %>
      </a>
    </div>
  </div>
  <div class="menu-container">
    <ul>
      <li class="nav-item">
        Buying
        <ul class="sub-menu">
          <a href="/listings">
            <li class="nav-sub-item">My Listings</li>
          </a>
          <a href="/listings">
            <li class="nav-sub-item">Office Listings</li>
          </a>
          <a href="/listings">
            <li class="nav-sub-item">Campbell River Listings</li>
          </a>
        </ul>
      </li>
      <li class="nav-item">
        Selling
        <ul class="sub-menu">
          <a href="/">
            <li class="nav-sub-item">Evaluation</li>
          </a>
          <a href="/">
            <li class="nav-sub-item">Marketing Plan</li>
          </a>
          <a href="/">
            <li class="nav-sub-item">Reports</li>
          </a>
        </ul>
      </li>
      <a href="/about">
        <li class="nav-item">About</li>
      </a>
      <a href="/blog">
        <li class="nav-item">Blog</li>
      </a>
      <a href="/testimonials">
        <li class="nav-item">Testimonials</li>
      </a>
      <a href="/contact">
        <li class="nav-item">Contact</li>
      </a>
    </ul>
  </div>
</header>
