<header id="header">
  <div class="header-container">
    <div class="meta-container">
      <div class="title">
        <h1>Shelley King</h1>
        <h3>Best realtor in town!</h3>
      </div>
      <div class="logo">
        <%= image_tag('logos/royal_lepage.jpg') %>
      </div>
    </div>
    <div class="menu-container">
      <ul>
        <li>
          <a class="nav-link" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link" href="#">Buying</a>
          <ul>
            <li>
              <a href="/">My Listings</a>
            </li>
            <li>
              <a href="/">Office Listings</a>
            </li>
            <li>
              <a href="/">Campbell River Listings</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="nav-link" href="#">Selling</a>
          <ul>
            <li>
              <a href="/">Evaluation</a>
            </li>
            <li>
              <a href="/">Marketing Plan</a>
            </li>
            <li>
              <a href="/">Reports</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="nav-link" href="/about">About</a>
        </li>
        <li>
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li>
          <a class="button light" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
