<div class="report-list-item">
  <h4><%= report.title %>
  <p>
    <%= report.description %>
  </p>
  <p>
    <a href="<%= report.report_file.url %>" target="_blank">Download report</a>
  </p>
</div>
