<div class="reports-index">
  <div class="hero-container">
    <div class="hero-image">
      <%= image_tag('banners/boats.jpg') %>
    </div>
    <div class="hero-title">
      <h2>Reports</h2>
      <h3> - some helpful documents</h3>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <p>
          During the process of buying or selling a home, you'll unearth countless
          questions. I know how difficult it can be to sift through all the details
          in order to find answers relevant and meaningful to you. I've put together
          the following series of reports that provide clear, concise and useful
          information on a wide range of issues related to real estate. Here you'll find
          tips on how to save money, real estate insider secrets, renovation advice, and much more.
        </p>

        <p>
          I'd be happy to personally answer any other questions you may have. Remember, I will
          be here to assist you every step of the way!
        </p>
        <hr />
        <div class="report-list-items">
          <% if @reports && @reports.length > 0 %>
            <% @reports.each do |report| %>
              <%= render partial: 'reports/list_item', locals: { report: report } %>
            <% end %>
          <% else %>
            <p>
              There are no reports yet. Check back soon!
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
