<div class="reports-index">
  <div class="hero-container">
    <div class="hero-image">
      <%= image_tag('banners/reports.jpg') %>
    </div>
    <div class="hero-title">
      <h2>Reports</h2>
      <h3> - some helpful documents</h3>
    </div>
  </div>
  <div class="content-container">
    <div class="content-block">
      <div class="content-block-inner">
        <p>
          Over the whole process of either buying or selling a home, you will have
          lots of questions. It can be extremely difficult to find the answers on your
          own. Thats why I am here!
        </p>

        <p>
          I have compiled the list of reports which essential act like a list of
          frequently asked questions for both buyers and sellers.
        </p>
        <hr />
        <div class="report-list-items">
          <% if @reports && @reports.length > 0 %>
            <% @reports.each do |report| %>
              <%= render partial: 'reports/list_item', locals: { report: report } %>
            <% end %>
          <% else %>
            <p>
              There are no reports yet. Check back soon!
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="content-block center">
      <div class="content-block-inner">
        <h3>Have more questions?</h3>
        <div>
          <a class="button" href="/contact">Get in touch!</a>
        </div>
      </div>
    </div>
  </div>
</div>
